<ngx-ts
  [items]="items"
  [periods]="periods"
  [sections]="sections"
  [events]="events"
  [showBusinessDayOnly]="false"
  [allowDragging]="true"
></ngx-ts>

<h3>Event output</h3>
<label>
  <textarea
    placeholder="Event output"
    [(ngModel)]="eventOutput"
    name="event-output"
    style="width: 80%; height: 50px"></textarea>
</label>
<br>

<button (click)="addItem()">Add Item</button>
<button (click)="popItem()">Pop Item</button>
<button (click)="removeItem()">Remove Item</button>
<button (click)="addSection()">Add Section</button>
<button (click)="popSection()">Pop Section</button>
<button (click)="removeSection()">Remove Section</button>
<button (click)="refresh()">Refresh</button>
